example-project
cookiecutter-poetry-example

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# OSX
*.DS_Store
.AppleDouble
.LSOverride
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems   

.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items   

.apdisk

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg   

*.egg

# IDE/Editors
.spyderproject
.spyproject
.ropeproject
.idea/
*.iml
*.ipr
*.iws
.idea_modules/
.vscode/

# Build tools
target/

# Type checkers
.pyre/
.pytype/

# Cython debug symbols
cython_debug/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django   

*.log

# Sphinx documentation
docs/_build/

# PyInstaller
*.manifest
*.spec

# Cookiecutter
output/
python_boilerplate/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Documentation
/site

# Jupyter Notebooks
.ipynb_checkpoints

# Large language model (LLM) specific files (add more as needed)
*.pb  # Saved model files (e.g., TensorFlow)
*.ckpt  # Model checkpoint files
*.bin  # Binary model files
*.onnx  # ONNX model files
*.pt  # PyTorch model files

# Data (consider adding specific data file extensions)
# data/raw/
# data/processed/
